<h1>Stocks Available</h1>

<%= render 'stocks/search' %>

<br>

<div id="results">
</div>

<table>
    <thead>
    <tr>
        <th>Ticker</th>
        <th>Name</th>
        <th>Price</th>
        <th>Broker</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    
        <tr>
        <td><%= "ticker" %></td>
        <td><%= "name" %></td>
        <td><%= "latest_price" %></td>
        <td><%= "Broker Placeholder" %></td>
        <td><%= "Action Placeholder" %></td>
        </tr>
    
    </tbody>
</table>

<br>
<%= link_to 'Back to Home', root_path %>