<div 
    class="app_name"><h1>Users</h1>
    
</div>                               



<div class="category-item">
    <table class="table_heads">
        <thead >
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
            <tr>
                    <td><%= user.name %><br></td>
                    <td><%= user.email %></td>
                    <td><%= user.role.name %></td>
                    <td class="no_line"> 
                    <%= link_to 'Edit', edit_category_path(user.id) %>
                    </td>
            </tr>
        <% end %>
        </tbody>    
    </table>
</div>
 
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
